<H1>Recipe</H1>

<div class="container">
  <fieldset class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="recipe.name" class="form-control" name="name" required="required">
  </fieldset>

  <fieldset class="form-group">
      <label>Veg/Nonveg</label>
      <input type="text" [(ngModel)]="recipe.type" class="form-control" name="Description" required="required">
  </fieldset>

  <fieldset class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="recipe.description" class="form-control" name="Description" required="required">
  </fieldset>

  <fieldset class="form-group">
      <label>Ingrediants</label>
      <input type="text" [(ngModel)]="recipe.ingredients" class="form-control" name="Description" required="required">
  </fieldset>

  <fieldset class="form-group">
        <label>Cooking Instructions</label>
        <input type="text" [(ngModel)]="recipe.instructions" class="form-control" name="Description" required="required">
  </fieldset>

  <fieldset class="form-group">
        <label>Created By</label>
        <input type="text" [(ngModel)]="recipe.username" class="form-control" name="Description" required="required">
  </fieldset>

  <fieldset class="form-group">
        <label>Date Created</label>
        <input type="date" [(ngModel)]="recipe.createDate" class="form-control" name="createDate" required="required">
  </fieldset>

  <fieldset class="form-group">
      <label>Upload Image URL</label>
      <input type="text" [(ngModel)]="recipe.imgsrc" class="form-control" name="Description" required="required">
  </fieldset>

  <button class="btn btn-success" (click)="saveRecipe()">Save</button>
</div>